/* Header */
@media (max-width: 768px) {
.navbar-default .navbar-nav>li>a {
	background: #213a94 url(../img/dcr_menu.jpg) top left repeat-x;
}

}

html{
height:100% !important;
}

body {
padding-top: 70px;
font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-size: 14px;
width:100%;
height:100% !important;
}

.navbar-default {
background-color: #00ff00;

}
.navbar {
box-shadow: 0 0 5px #3E3E3E;
z-index: 1000;
}
.navbar-fixed-top {
top: 0;
border-width: 0 0 1px;
}
.navbar {
position: relative;
min-height: 27px;
margin-bottom: 20px;
border: 1px solid transparent;
}
.navbar-fixed-top, .navbar-fixed-bottom {
position: fixed;
right: 0;
left: 0;
z-index: 1030;
}

.navbar-header {
	height: 27px;
	float: left;
	border : 0px;
}



.static-logo {
	position: static;
	top: -5px;
	border: 0px;
}

.navbar-toggle {
	position: absolute;
	top: 2px;
	right: 2px;
}
@media (min-width: 768px)
.container > .navbar-header, .container > .navbar-collapse {
margin-right: 0;
margin-left: 0;

}
.navbar-collapse.collapse {
display: block !important;
height: auto !important;
padding-bottom: 0;
overflow: visible !important;
}
.navbar-nav {
height: 50px;
float: left;
margin: 0;
padding-left: 15px;
}
.nav {
padding-left: 20;
margin-bottom: 0;
list-style: none;
}
.navbar-collapse {

padding-right: 15px;
padding-left: 15px;
overflow-x: visible;
border-top: 1px solid transparent;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
-webkit-overflow-scrolling: touch;
}


.navbar-nav > li > a {
padding-top: 15px;
padding-bottom: 15px;
line-height: 27px;
}


.navbar li {
	border-right: 0px solid #e7e7e7;
	transition: 0.4s;

}

#clientContainer .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-image: none !important;
}

#clientContainer .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #4165C5 !important;
}

#clientContainer .dropdown-menu {
	min-width: 125px !Important;
}

#clientContainer .dropdown-menu>li {
text-align: left;
}

#clientContainer .dropdown-menu>li>a {
display: block;
 padding: 3px 20px;
 clear: both;
 font-weight: normal;
 line-height: 1.428571429;
 color: #333 !Important;
 white-space: nowrap;
}

#languagesContainer .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-image: none !important;
}

#languagesContainer .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #4165C5 !important;
}

#languagesContainer .dropdown-menu {
	min-width: 125px !Important;
}

#languagesContainer .dropdown-menu>li {
text-align: left;
}

#languagesContainer .dropdown-menu>li>a {
display: block;
 padding: 3px 20px;
 clear: both;
 font-weight: normal;
 line-height: 1.428571429;
 color: #333 !Important;
 white-space: nowrap;
}

.caret {

  border-top: 6px solid !Important;
  border-right: 4px solid transparent !Important;
  border-left: 4px solid transparent !Important;
}
.nav > li > a {
position: relative;
display: block;
}
.navbar-default .navbar-nav > li > a {
color: #ff0000;
line-height: 27px;
}


.navbar-right {
float: right !important;
text-align: right;
 margin-right: 0px !important; 
}

/* transaction body  */
@media screen and (min-width: 768px)
.bodyTran {
	border-bottom: 0;
}
a:hover { cursor: pointer;}


.bodyTran {
/*background: linear-gradient(to bottom, #487ac1 0%,#77a0cc 100%);*/
width:100%;
padding: 0px 0 0 10px;
border-radius: 0;
/*color: #F8F8F8;*/
/* box-shadow: 0 0 10px #c3c3c3;
 */min-height: 50px;
 background-color: white;
 height:100%;

}
.footer {
	position:absolute;
	bottom:0px;
}


.btnFloat{
	clear:both;
	float:left;
	width: 25%;
	margin: 20px 0 0 10px;
}
.borderTopColor{
	border-top: #003399 solid thin;
}

.marginBtm50{
	margin-bottom: 50px;
}

.marginTop10{
	margin-top:10px;
}

.marginTop15{
	margin-top:15x;
}

.fontColor{
	font-size: 17px;
	color:#003399;
}


.container {
width: 1040px !important;

}

.time_folderIMG{
	margin: 0 10px -7px 0;
}

.img-icon {
   	margin: 0 10px 0px 0;
    background-repeat: no-repeat;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    vertical-align: text-bottom;
    width: 35px;
}
.generateMsg{
	margin: 27px;
	/* position: absolute; */
}

.logTableHeader{
	
}
.table > tbody > tr:nth-child(even) {
    background-color: #E5E5E5 !important;
}
.table > tbody > tr:nth-child(odd) {
    background-color: #ffffff!important;
}

.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
  text-align: left;
}

/* Start Tommy 03.10.2014 - Change of UI SDE-23 */
.table > thead > tr > .warning,
.table > tbody > tr > .warning,
.table > tfoot > tr > .warning,
.table > thead > .warning > td,
.table > tbody > .warning > td,
.table > tfoot > .warning > td,
.table > thead > .warning > th,
.table > tbody > .warning > th,
.table > tfoot > .warning > th {
  background-color: #d9d900!important;
}
.table-hover > tbody > tr > .warning:hover,
.table-hover > tbody > .warning:hover > td,
.table-hover > tbody > .warning:hover > th {
  background-color: #d9d900 !important;
}

.table > thead > tr > .danger,
.table > tbody > tr > .danger,
.table > tfoot > tr > .danger,
.table > thead > .danger > td,
.table > tbody > .danger > td,
.table > tfoot > .danger > td,
.table > thead > .danger > th,
.table > tbody > .danger > th,
.table > tfoot > .danger > th {
  background-color: #d9534f !important;
}

.table-hover > tbody > tr > .danger:hover,
.table-hover > tbody > .danger:hover > td,
.table-hover > tbody > .danger:hover > th {
  background-color: #c9302c !important;
}


.navbar-default {
background: -webkit-linear-gradient(#a0acfa, #a0acfa) !important; /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#a0acfa, #a0acfa) !important; /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#a0acfa, #a0acfa)!important; /* For Firefox 3.6 to 15 
  background: linear-gradient(red, blue); /* Standard syntax */
/* background-color: #0080c0 !important; */
/* color: #000000!important; */
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000!important;
  background-color: #ffffff !important;
  line-height: 27px;
}
.nav>li:hover {
  background-color: #F49529;
  
}
.navbar-default .navbar-nav>li>a:hover {
	color: #ffffff!important;
}

.nav>li:hover > a {
color: #777777 !Important;
}

.navbar-right a {
  color: #ffffff!important;
}
.navbar-right a:hover {
  background-color: transparent !important;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
color: #ffffff !important;
}

.navbar-nav > li > a {
padding-top: 0px !important;
padding-bottom: 0px !important;
line-height: 27px;
}

.navbar {
position: relative;
min-height: 27px !important;
margin-bottom: 0px;
border: 1px solid transparent;
}

.navbar-nav {
height: 27px;
float: left;
margin: 0;
padding-left: 15px;
}

.bannerLogo {
width: 100%;
background-color: #C1D6F3;
}
.bannerMenu {
width: 100%;
background: #213a94 url(../img/dcr_menu.jpg) top left repeat-x;
/*border-radius: 10px 10px 0px 0px;*/
min-height: 27px;
padding: 0 0px;
}
/* End Tommy 03.10.2014 */
.leftPanel{
background: #213a94 url(../img/dcr_menu.jpg) top left repeat-x;
/*border-radius: 10px 10px 0px 0px;*/
padding: 0 0px;

}
.leftPanel #leftPanelHeader{
float: left!important;
text-align: center;
height: 27px;
line-height: 27px;
color: #ffffff !important;
background: #213a94 url(../img/dcr_menu.jpg) top left repeat-x;
}
.leftPanalContent{
max-height: 100%;
height: 100%;
background-color: #C1D6F3;
padding: 20px 0 0 10px;
}
