<div style="Float:right;"><img src="/images/logo_secu.gif"></div>
<BR><BR>Beste gebruiker,
<br><br>Zoals aangekondigd wil Securex een performante communicatie verzekeren tussen 
haar HRonline10 platform (magistral lite) en uw internetomgeving. Daartoe zal een geautomatiseerde 
test gelanceerd worden van uw internetomgeving.
<br>
<br>
Zodra u klikt op "ja, ik wil de test uitvoeren", 
zal de performantie van uw internetomgeving nagegaan worden. Indien u klikt op "nee, ik voer de test later uit", 
zal deze test bij een volgende opstart van HRonline10 opnieuw ge&#239;nitieerd worden.
<br>
<br>
Deze test neemt slechts enkele seconden in beslag en heeft geen impact op de werking van HRonline10. 
Zodra de test is uitgevoerd, kan u opnieuw HRonline10 gebruiken.
<br>
<br>
Opgepast: voer de test steeds uit op de computer waarmee u HRonline10 gebruikt.
<br>
<br>
Voor bijkomende informatie omtrent deze test, contacteer uw client helpdesk op 070 / 233 356 -12e
<br>
<br>
Met vriendelijke groeten